@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.content {
  margin-left: 200px;
  padding: 20px;
}

.form-responsive {
  max-width: 500px;
  margin: 0 auto;
}

.form-responsive .form-group {
  margin-bottom: 20px;
}

.form-responsive label {
  font-weight: bold;
}

.form-responsive input[type="text"],
.form-responsive textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.form-responsive button {
  padding: 10px 20px;
  border: none;
  background-color: #6dc0f4;
  color: #fff;
  cursor: pointer;
}

/* Media Query untuk tampilan responsif */
@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative; /* Mengubah posisi menjadi relative */
    overflow-y: hidden; /* Menghilangkan scrollbar vertikal */
    padding: 10px;
  }

  .content {
    margin-left: 0;
    padding: 20px;
  }
}
